@charset "UTF-8";
@font-face {
    font-family: nato-sans;
    src: url(../fontes/Noto_Sans/static/NotoSans-Light.ttf);
}

/* 
#6CD9D9
#459DBF
#368ABF
*/

* {
    font-family: nato-sans;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    margin: 25px;
}

main {
    padding-bottom: 100px;
}

header > img#favicon {
    height: 60px;
    margin-bottom: 20px;
}

main > h1 {
    margin-bottom: 20px;
}

main > p {
    margin-bottom: 20px;
}

main > input#idemail {
    margin-top: 20px;
    margin-bottom: 5px;
    height: 50px;
    width: 100%;
    text-indent: 10px;
    font-size: 20px;
}

main > input#idemail:hover {
    border: 1px solid #459DBF;
}

main a {
    text-decoration: none;
    color: #459DBF;
}

input#criar-conta {
    margin-top: 20px;
    float: left;
    font-size: 16px;
    color: #459DBF;
    background-color: white;
    border: none;
    padding: 10px;
}

input#criar-conta:hover {
    background-color: #459cbf30;
    padding: 10px;
    border-radius: 20px;
}

input#proxima {
    margin-top: 20px;
    float: right;
    font-size: 16px;
    color: white;
    background-color: #459DBF;
    border: none;
    padding: 10px;
    border-radius: 20px;
}

input#proxima:hover {
    background-color: #367c97;
    padding: 10px;
    border-radius: 20px;
}